

<h4> Hello admin </h4>
<p> you have new user to request for registration </p>
<h4> user Information </h4>
<h4>name is <%= @resource.full_name %>,</h4>
<h4>email is <%= @resource.email %></h4>
<h4>contact email is <%= @resource.contact_email %></h4>

