<h4>Dear <%= @resource.full_name %>,</h4>

<p>Thank you for registering with Us</p>

<h4> Your contact name is <%= @resource.contact_full_name %>,</h4>
<h4> Your contact email is <%= @resource.contact_email %>,</h4>
<h4> Your contact phone is <%= @resource.contact_phone_no %>,</h4>
