<h4>Advertisement Approval Request</h4>
<p> <%=@advertisement.title%> is requesting for approval. So Click on <a href="<%=base_url+''+edit_advertisement_path(@advertisement)%>">Edit</a> to review this Advertisement.</p>