<h4>Dear <%= @user.full_name %>!</h4>
<p>Thank you for registering with Nutonia,</p>
<p>Due to some rules and terms of the servise we can't approve your account.</p>
<p>Please contact site admin for further queries.</p>