/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

@font-face {
    font-family: helveticaNeue-light;
    src: url(fonts/helveticaNeue-light.otf);
}

html{
    height: 100%;
}
body {
    padding-top: 80px;
    min-height: 100%;
    /*padding-bottom: 26px;*/
    position: relative;
    font-family: 'HelveticaNeue-Light' !important;
    background: url("bg.png");
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.notification-cont{
    width: 50px;
    height: 20px;
    position: relative;
}
.notification-bell{
    background: url("notification-icon.png") no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.notification-count{
    background: url("count.png") no-repeat;
    height: 22px;
    width: 22px;
    display: inline-block;
    position: absolute;
    left: 13px;
    top: -6px;
}

.custom-dwn-arrow{
    position: absolute;
    right: 0;
    top: 8px;
    color: #B6B6B6;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
    margin-bottom: 0;
    height: 80px;
    padding-top: 14px;
}

.custom-navbar{

}
.custom-navbar li a{
    color: #010101;
}

.logout_li a {
    text-decoration: underline;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar{
    position: fixed !important;
}
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 80px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #313131;
        border-right: 1px solid #eee;
    }
}
@media (max-width: 768px) {
    .tablet-margin-fix{
      margin-top:20px;
      margin-left:0px !important;
    }
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #606060;
}
.nav-sidebar > li > a:hover,.nav-sidebar > li a:focus,.nav-sidebar > li.active > a{
    color: #fff ;
    background:none !important;
    font-weight:bold;
}
.nav-ul {
    border-bottom: 1px solid #ffffff;
}
.nav-ul li > a {
    color: #269abc !important;
}
.nav-ul > li > a:hover, .nav-ul > li > a:focus{
    color: #8B5C2C !important;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    /*background: url("bg.png");*/
}
@media (min-width: 768px) {
    .main {
        padding-right: 20px;
        padding-left: 20px;
    }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
.main .page-header {
    margin-top: 0;
}

.page-title{
    margin: 14px 0;
}

.users_list_box_row{
    margin-bottom: 10px;
}

/*---------*/

footer{
    position: absolute;
    /*z-index: 9999;*/
    background: #E1E1E1;
    height: 26px;
    bottom: 0;
    width: 100%;
}
footer .footer {
    padding-top: 4px;
}
.copyright-text{
    margin-bottom: 0px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: inherit;
}

/*
 * Public layout styles
 */

.form-inputs .controls input,select,textarea{
    width: 100%;
    padding: 5px;
}

.form-inputs select,.form-actions{
    margin-top: 5px;
    margin-bottom: 5px;
}

.help-inline{
    color: red;
}

input[type="radio"]+label.radio>span.radio-bg,input[type="checkbox"]+label.checkbox>span.checkbox-bg{
    background-image: url('green.png');
    width: 20px;
    height: 20px;
    display: inline-block;
}
input[type="radio"]+label.radio>span.radio-bg{background-position: -88px 0;}
input[type="checkbox"]+label.checkbox>span.checkbox-bg{background-position: 0 0;}
input[type="radio"]:checked+label>span.radio-bg{background-position: -110px 0;}
input[type="checkbox"]:checked+label>span.checkbox-bg{background-position: -22px 0;}

#user_state_code_wrapper label, #user_state_code_wrapper input {
    width: 100%;
    padding: 5px;
}

.carousel-indicators {
  bottom: -17px !important;
}
.carousel-indicators li{
  color:white;
}

.test_wrap{
  margin: 9px 0px;
}
.brands-form input,.brands-form select{
  width: 100%;
  padding: 10px 4px !important;
}
.brand-web{
  font-style: italic;
  color:inherit;
}
.brands-form p{
  margin: 0px;
}
.brands-form label {
  width: 100%;
}
.img-caption{
  border-bottom: 1px solid #CCCCCC;
  border-radius: 7px;
  width: 236px !important;
  min-height: 157px !important;
  position: relative !important;
  background: url("236x157.gif") no-repeat;
}
.modal-content{
  opacity:0.9;
}

.brands-form-row{
  min-height: 188px;
  width: 100%;
  margin-bottom: 13px;
  height: auto;
  float: left;
}
.brand-field-title{
  margin-bottom: 16px !important;
}
.brand-field-subtitle{
}
.brand-submit,.btn{
  background: #7BC5F1 !important;
  color: #fff !important;
  padding: 8px 15px !important;
  font-size: 1em !important;
  width: 116px !important;
  margin-bottom: 7px !important;
  border: none !important;
  border-radius: 5px !important;
  font-weight:normal !important;
  text-shadow:none !important;
  box-shadow:none !important;
}
.brand-submit:hover{
  text-decoration:none;
}
.brand-approve{
  color: #348017 !important;
  background: #fff;
  border: 1px solid #ccc !important;
  padding: 2px 15px !important;
  font-size: 1em !important;
  width: 116px !important;
  margin-bottom: 7px !important;
}
.brand-return{
  color: #E41B17 !important;
  background: #fff;
  border: 1px solid #ccc !important;
  padding: 2px 15px !important;
  font-size: 1em !important;
  width: 116px !important;
  margin-bottom: 7px !important;
}
.frm-line{
  height: 1px;
  background: #CCCCCC;
  width: 100%;
  margin: 13px 0;
}
.frm-no-title{
  padding-top: 34px;
}
.contact-info-frm{
  margin: 0 15px;
}
.radio-group label{
  display: inline-block;
  width: 26% !important;
}
.radio-group input{
  display: inline-block;
  width: 20% !important;
}
.file_upload_btn{
  background: #7F7F7F;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #7F7F7F;
  opacity: 0.8;
  padding: 6px;
  position: relative;
  top: 0px;
  width:166px;
}
.brand-file-input{
  position: absolute;
  z-index: 9;
  top: 0px;
  opacity: 0;
  padding: 4px 0px;
  width: 166px;
}
.file-input-group{
  position: absolute;
  top: 97px;
  width: 167px;
  left: 14%;
}
.file-input-logo{
  position: absolute;
  top: 99px;
  width: 167px;
  left: 32px;
}
.product-file-input{
  position: absolute;
  z-index: 9;
  top: 0px;
  opacity: 0;
  padding: 4px 0px;
}

/* -- file upload -- */
.file-input-group .help-inline{  position: absolute;  top: 30px;}
.file-input-group .brand-file-input{position: absolute;  top: 0; }


.before-radio-icon{
  background: url("notification-icon.png");
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  top: 4px;
}
.custom-radio label{
  width: 76% !important;
}
.datepicker-inline .datepicker-days table tr th,.datepicker-inline .datepicker-days table tr td {
  padding:0px;
  font-size: .8em;
}
.datepicker-inline {
  width: 100%;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
  color:red;
}
.tab-count{
  background: #77C3EF;
  color: #ffffff;
  padding: 0 10px 0 7px;
  border-radius: 0px 11px 11px 0px;
  font-size: .8em;
}

.nav-tabs{
  border: none !important;
}

.nav-tabs li a{
  border: none !important;
  padding-left: 0px;
  background: none;
}
.nav-tabs li a:hover{
  background: none !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color:transparent !important;
}
.nav-tabs li.active a .tab-count{
  background: #CCCCCC;
  
}

.shipping-table{
}

.shipping-table thead {
  background: #F3F3F3;
}

.shipping-table > thead > tr > th {
  border-bottom: none;
  font-weight: normal;
}

.shipping-table > tbody > tr > td{
  border: 1px solid #EFEFEF;
  border-left: none;
}

.shipping-table > tbody > tr > td:last-child{
  border-right: none;
}

.shipping-table > tbody > tr > td p{
  margin: 0 0 10px;
}
/*.shipping-table > tbody > tr > td p:hover{
  background: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 3px;
  cursor: pointer;
}*/
.td-active{
  background: #CCCCCC;
}
.p-active{
  background: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 3px;
  cursor: pointer;
}
.datepicker-days table {
  width:100% !important;
}

.custom-form-group{
  position: relative;
}
.custom-form-group label{
  width: auto !important;
}
.brand-itself{
  position: absolute;
  right: 0;
  width: 72%;
}
.brand-itself input{
  float: left;
}
.brand-itself label{
  float: right;
  margin: 3px 0 0 0;
}
.single-usage input.qty-larg{
  width: 100%;
}
.unit input {
  width:100%;
}
.single-usage .unit{
  width: 42% !important;
}
.single-usage label {
  width: auto !important;
}
.budget-unit{
  width: 49%;
  display: inline-block;
}

.discount-opt .input-group{
  width: 45%;
}
.destroy-img{
  background: url("cross_small.png") no-repeat;
  width: 32px;
  float: right;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
}

.custom-brand-img{
  border: none !important;
  border-radius: 7px !important;
  padding: 0px !important;
}

/*-- new CSS --*/
.customer-list{height: 787px; overflow: scroll;}
.customer{padding: 5px;}
.customer-inner-content{border-bottom: 2px solid #ddd;border-radius: 7px;width: 236px;height:227px;}
.customer-detail{padding: 8px;}
.customer img {width: 236px;height: 157px;border-radius: 7px 7px 0 0;}
span.icon{background-size: 100% 100%; display: inline-block;height: 20px; width: 20px;}
.customer-detail>div+div {margin-top: 8px;}
span.icon.icon-lorry{background-image: asset-url('icon-lorry.png');width: 25px;}
span.icon.icon-add{background-image: asset-url('icon-add.png');width: 25px;}
span.icon.icon-file{background-image: asset-url('icon-file.png');width: 25px;}
.icon-hut{background-image: asset-url('icon-hut.png');}
span.icon.icon-radio{background-image: asset-url('icon-radio.png');width: 30px;}
/*.bg-dashed{background-image: asset-url('separator-dashed.png'); background-repeat: repeat-x; background-position: center;}*/
.half-segment {height: 100%;text-align: center;display: table;width: 100%;}
.cell2 {/*display: table-cell;vertical-align: middle;*/padding: 12% 0 11% 0;}
.cell {display: table-cell;vertical-align: middle;}
.half-segment a{color: #333333;}
.half-segment a:hover{text-decoration: none;}
.customer-list::-webkit-scrollbar {-webkit-appearance: none;width: 12px;}
.customer-list::-webkit-scrollbar-thumb {border-radius: 12px;border: 4px solid rgba(255,255,255,0);background-clip: content-box;background-color: #A0A0A0;}
span.icon.icon-addgroup {
background-image: url(/assets/icon-file.png);
width: 25px;
}
/*-- sidebar --*/
*:focus{outline: none;}
.search-form input[type="button"]{background-color: transparent; border: none; background-image: asset-url('icon-search.png');
background-size: 100% 100%;height: 20px;width: 20px; padding: 0;position: relative;top: 4px; margin-top:10px;}
.search-form input[type="text"]{display: none;}
.search{padding-bottom: 10px;border-bottom: 4px solid #ffffff;}
.search-form {display: inline-block;height: 27px;}
.search-form input[type="text"] {border-top-left-radius: 4px;border-bottom-left-radius: 4px;border: 1px solid #cccccc;padding-left: 10px;width: calc(100% - 24px);}
.customer-filter{text-align: center;}
.customer-filter ul{display: inline-block;}
.customer-filter ul>li{text-align: left;}
.customer-filter ul>li a{color: #999;padding: 5px 0;display: block;}
.customer-filter ul>li.active-filter a,.customer-filter ul>li a:hover{color: #000;}
.customer-filter ul ul {padding-left: 20px;}

.del-img {
  background: url("cross_small.png") no-repeat;
  width: 31px;
  float: right;
  height: 31px;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1000;
}
.panel-inner{
  padding-top: 20px;
}
.rounded_image {
  border-radius: 100% !important;
  width: 160px !important;
  border: 0;
  height: 160px !important;
  background: url("160x160.gif") no-repeat !important;
}
.rounded_image img {
  border-radius: 100% !important;
  width: 160px;
  min-height: 160px;
}
.w94px{
  width:94px !important;
}
.logo-file-input {
  position: absolute;
  z-index: 9;
  top: 0px;
  opacity: 0;
  padding: 4px 0px;
  width: 94px;
}
.signal_icon{
  background: green;
  border-radius: 9px;
  height: 6px;
  width: 6px;
  display: block;
  position: absolute;
  right: 7px;
  top: 22px;
}

.z-index-file1{
  z-index: 1000;
}
.z-index-file{
  z-index: 999;
}
.custom-product-image-top{
  padding:0px !important;
  border:none !important;
  border-radius:0px !important;
}

.products-form label,#shipping label{
  
}

.products-form input,select,textarea, #shipping input,#shipping select{
  
}
.budget-unit input{
  width:100% !important;
}
.products-form-row{
  border-bottom:1px solid #ccc;
}
.pad-top-7{
  padding-top: 7px;
}
.border-div{
  border: 2px solid #E5E4E2;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 320px;
  padding: 20px;
}
.device-inputs{
  width:44%;
}
.device-inputs input{
  width:100%;
}
.margin-4px
{
  margin: 4px;
}
.custom-btn {  
  color: #fff;
  border: none;
  width: 61px !important;
  margin-top: 7px;
}
.blue-bg{
  background: #7BC5F1 !important;
}
.gray-bg{
  background: grey !important;
}

.width-larg-qty{
  width:54%;
}

.custom-nv{
  background:#fff;
}

.round-logo{
  height: 95px;
  width: 95px;  
}
.round-logo img {
  height:100%;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 100%;
}
.logo-title{
  margin: 19px 6px !important;
}
.height-custom{
  height: 300px !important;
  overflow-y:scroll;
}

.w541px {
  width: 542px !important;
}

.w294px{
 width: 294px !important; 
}
.w350px{
 width: 350px !important; 
}
.modal-footer{
 border-top:0px !important; 
}
.modal-footer{
  padding:0px !important;
}
.modal-footer input[type="button"],.modal-footer input[type="submit"],.modal-footer button{
  margin-bottom:0px !important;
}
.modal-content{
  padding:17px;
}


.popup-brands{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity:0;
}

.position-ralative{
  position:relative;
}
.customer-inner-content-height-custom{
  /*height:336px !important;*/
}
.checkbox-bg{
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top: 0px;
}
.radio-bg{
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top: 0px;
}
.custom-radio-outer{
  position:relative;
  display:inline-block;
}
.custom-radio-outer .radio span{
  top:0 !important;
  left:4% !important;
}
.custom-radio-outer .radio{
  padding-left:30px;
}
.width-auto{
  width:auto !important; 
}
.brandslisting{
  list-style: none;
  padding-left:0px; 
}
.brandslisting li, .customerslisting li{
  display: table; 
}
.brandslisting li:before{
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url("shop-icon.png"); 
  margin-right:15px;
}
.customerslisting{
  list-style: none;  
}
.customerslisting li{
  list-style: none;  
}
.customerslisting li:before{
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url("customer-icon.png"); 
}
ul.brandslisting li span,ul.customerslisting li span{
  padding: 0 10px;
}
.prod-brands-title{
  margin:10px 0;
}

/*------------------------------------*/
.customer-filter .show_hide{display:none;}
.customer-filter .open-list>.show_hide{display:block;}
.width-85px{
  width:85px !important;
  padding:0 3px;
}
.products_groups_form label{
  font-weight:normal;
}
.storeslising{
  list-style-image:url('store-icon.png') !important;
}
.qb_span{
  width: 119px !important;
  display: inline-block;
}

.date_model .modal-dialog{
  width:300px;
}

.popup_field_lable{
  display:inline;
}

.formatted_Date{
  cursor:pointer;
}

.add-remove-btn{
  width: 23px !important;
  border: 1px solid #999;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  color: #999;
  height: 23px;
}

.add-remove-btn:hover{
  text-decoration:none;
  color:#999;
}

.tab-content{
  padding:9px 13px;
}

.para-inline-field{
  display:inline-block;
  width:70px !important;
  height:20px;
}

.country-p select{
  padding:0px !important;
}

.del-button{
  background:url('del-icon.png');
  height: 16px;
  width: 13px;
  display: inline-block;
}

.form-partial-header{
  background: #F3F3F3;
  border-bottom: 2px solid #dddddd;
  padding: 8px;
  line-height: 1.428571429;
  font-weight: normal;
}
.country-p select{
  width:132px;
}
.error_message{
  color: red;
}

ul.list-unstyled li a:focus,ul.list-unstyled li a:hover {
  color: #428bca;
  text-decoration: none;
}
.control-group{
  margin-bottom:14px;
}
.custom-nv .navbar-brand{
  padding:11px 15px;
}
.btn-row{
  margin-top:20px;
  padding-left:0px !important;
  padding-left:0px !important;
}
.file-upload-image-container{
  position: absolute;
  top: 97px;
  left: 36px;
  z-index: 999;
}
.form-images-container{
  width: 238px;
  margin-left:16px;
  display:inline-block;
}
.form-images-inner{
  width:inherit;
}
.images-carousel-slide,figure{
  border-radius:9px;
  max-height:100%;
  max-width:100%;
}
.inline-row{
  width:64%;
}
.logo-images-row{
  width:37%;
}
.img-caption{
  display:inline-block;
}
.contact-info-frm{
    overflow:hidden;
}

.contact-info-frm select{
    margin-bottom:12px;
}
.contact-info-frm input {
  margin-bottom:14px; 
}

input[type="checkbox"]#indefinite {
  width:auto !important;
}
.no_left_padding{
  padding-left:0px !important;
}
.no_right_padding{
  padding-right:0px !important;
}
.row-hard-division{
  border-top:2px solid #ccc;
}
#rewards-membership-container-table form .control-group, #campaigns-membership-container-table form .control-group {
  width:80%;
  display:inline-block;
}
.width-48px{
  width:48px !important;
  display:inline-block;
  margin:0px !important;
}
.w294px .modal-footer .btn,.w338px .modal-footer .btn {
  width:100% !important;
}
#form-csv-imports-modal-body input[type="file"]{
  width:193px;
}
.w338px{
  width:338px !important;
}
.w300px{
  width:300px !important;
}
.calendar-content{
  padding-top:10px;
}
select{
  background:#fff;
}
.campaigns_box_innner{
  border: 2px solid #ddd;
  border-radius: 7px;
  width: 300px;
  height: 93px;
  padding:0 20px;
}
.campaings_boxes_content{
  padding-top:30px;
}
.campaign_box{
  margin-right:30px;
  margin-bottom:30px;
}
.campaigns_box_innner label{
  height:10px;
}
.campaigns_box_innner label p{
  padding-top:16%;
}
.card-img{
  height:30px !important;
  width:30px;
  position:absolute;
  top:-15px;
  left:-2px;
}
.errors{
  border:1px solid red;
}
.modal-custom-header{
  padding:0 0 15px 0;
  border-bottom:1px solid #ccc;
  margin-bottom:28px;
}
.w381px{
  width:381px !important;
}
.w406px{
  width:408px !important;
}
.w107px{
  width: 107px;
  padding: 0 3px;
}
.w116px{
  width: 116px;
  padding: 0 3px;
}
.w500px{
  width:500px !important;
}
.w550px{
  width:550px !important;
}
.v-align-action-btn{
  position:absolute;
  margin: 10px;
}
.settings_others .form-group input[type = 'text']{
  width:80%;
}
.radio-hide{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
}
.checkbox-hide{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  height:100%;
}
.relative-radio-outer{
  position: relative;
  display: inline-block;
}
.relative-radio-outer .radio span,.relative-radio-outer .checkbox span {
  top: 0 !important;
  left: 19PX !important;
}
.relative-radio-outer .radio,.relative-radio-outer .checkbox{
  padding-left:30px;
  display:inline-block;
}
span.icon.icon-csv {
background-image: url(/assets/icon-csv.png);
width: 25px;
}
span.icon.icon-fb {
background-image: url(/assets/icon-fb.png);
width: 25px;
}
span.icon.icon-twitter {
background-image: url(/assets/icon-twitter.png);
width: 25px;
}
.social_icons_row{
  width: 96%;
  padding: 4%;
  border-bottom: 1px dashed #ccc;
}
.social_icons_row a{
  width:100%;
  display:inline-block;
}
.social_icons_row a span{
  text-align: left;
  width: 82%;
  float: right;
}
.social_icons_row a .icon{
  float:left;
  display:inline-block;
}
.social-icons-box{
  padding:42px 0;
}
.preview_title_vertical_align{
  padding: 37px 16px;
}
.margin_top_bottom_10px{
  margin-top:10px !important;
  margin-bottom:10px !important;
}
.preview_content_outer{
  padding:10px 0;
}
.datepicker_outer{
  z-index:999999999999;
}
.datepicker_inner{
  position:relative;
  z-index:-999999999999;
}
.input_file_btn {
  width: 167px;
}
.terms_box{
  width: 266px;
  height: 150px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 16px;
  margin-right: 11px;
}
.terms_box_inner{
  display:table;
  height:100%;
  width:100%;
}
.terms_content{
  display:table-cell;
  vertical-align:middle;
  position:relative;
  padding: 0 10px;
}
.apply_btn{
  margin: 5px 56px;
}
span.icon.icon-import {
  background-image: url(/assets/import_icon.png);
  width: 25px;
}
.download-icon{
  background-image: url(/assets/download-icon.png);
  height: 20px;
  width: 20px;
  display: inline-block;
  overflow: hidden;
}
input[name="commit"]{
  margin-top:20px;
  width: 265px !important;
}
.notification-menu{
  min-width:320px !important;
}
.notification-menu li{
  padding: 0 5px;
}
.notification-menu li a.viewall_notifications{
  text-align:center;
  display: block !important;
  padding: 3px 20px !important;
}
.notification-menu li a{
  display: inline-block !important;
  padding: 0 !important;
  vertical-align: top;
}
.notification-menu li a img {
  width: 70px;
  display: inline-block;
  margin-right: 3px;
  padding-top: 4px;
}
.notification-menu li p{
  display: inline-block;
  word-wrap: break-word;
  width: 229px;
  margin:0px;
}
.notification-menu li a p {
  display:inline-block;
  vertical-align: top;
  width: 68%;
}
.dropdown-menu > li:hover, .dropdown-menu > li:focus {
  background-image: -o-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, whitesmoke 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0);
  background-color: #e8e8e8;
}

ul.notifications-list{
  list-style:none;
}
ul.notifications-list li{
  margin-bottom:20px;
}
ul.notifications-list li a:hover{
  text-decoration:none;
}
ul.notifications-list li a img{
  display:inline-block;
  margin-right:20px;
}
.italic{
  font-style:italic;
  color: #999;
}
.show_notifytime{
  position: absolute;
  bottom: 36px;
  right: 0px;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px 10px 3px 5px;
  border-radius: 0px 0px 5px 5px;
}
.notifications:hover .show_notifytime{
  display : block;
}
.notifications:hover{
  position : relative;
}

.campaign_adon{
  display: inline !important;
  padding: 11px !important;
}

.slider-vertical{
  width: 2px;
  float: left;
  background: #6BB0DF;
  top: 9px;
  border: 0;
}
.slider-vertical .ui-slider-handle{
  border-radius:100%;
  background:#fff;
  left:-8px;
  border: 1px solid #ccc;
}
.slider_values{
  padding: 0 0 0 27px;
}
.custom_values{
  margin: 0px 0 43px 0;
}
.year_values{
 margin: 43px 0;
}
.month_values{
 margin: 48px 0;
}
.custom_values img{
  display: inline;
  margin-left: 10px;
}
.notification-menu li img{
  width:40px;
}
.performance-circle img{
  margin-top:33px;
}
.display-inline{
  display:inline !important;
}
.full_width{
  width:100%;
}
.w453px{
  width:453px !important;
}
.margin-top-48px{
  margin-top:48px;
}
.error{
  color:red;
}
.error:after{
  notification-conttent: url(error-icon.png);
}
.info:after{
  content: url(info_btn.png);
}
.w440px{
  width:440px !important;
}

.form-fields-aligned-error .alert {
  padding-left:0px !important;
  padding-right:0px !important;
}
.signup_container{
  padding-bottom:47px;
}
.inline-small-field-input-group{
  display: inline-flex !important;
}

.inline-small-field-input-group .input-group-addon{
  padding: 3px 3px !important;
  width: auto !important;
}
.inline-small-field-paragraph{
  display: inline-block !important;
}
.prev-btn {
  padding: 12px 0px;
  border: none;
  background: url(next-prev-btns.png) no-repeat;
  cursor: pointer;
  width: 21px;
  display: block;
  float:left
}

.next-btn {
  padding: 11px 0px;
  border: none;
  background: url(next-prev-btns.png) no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
  display: block;
  width: 20px;
  float:right;
}
.modal-title{
  display: inline-block;
  float: left;
  text-align: center;
  width: 80%;
}
.modal-header{
  padding-bottom: 38px !important;
}

.product-groups-products-options form{
  padding:3px;
}
.w650px{
  width:650px !important;
}
.ui-autocomplete{
  max-height: 164px;
  overflow-y: scroll;
  overflow-x:hidden;
}
.sub_company_list_box{
  width:50%;
  position:relative;
}
.allign_remove_account {
  padding-top: 27px;
  position: relative;
  margin-top: 29px;
}
.shipments-place{
  width:185px;
  display: inline-block;
}
.w100percent,.w100percent input,.w100percent label{
  width:100% !important;
}

/*form strusture*/

table#shipments-container-table th, table#shipments-container-table td {width:16%;}

#shipments-tble-container-body td{ border:0;padding:0; }

.width20percent{
  width:20% !important;
  background-color:#fff !important;
}

.shipment_add_remove_btn{
  margin:6px;
}
#shipments-container-table input[type='text'], #shipments-container-table select{
  width: 96% !important;
  height: 29px !important;
}
.w10percent{
  width:10% !important;
}
.no_padding{
  padding:0px !important;
}
.width20percent input, width20percent select{
  width:100% !important;
}
.audition_forms_tbl thead th{
  width:10%;
}
.audition_forms_tbl thead th.outcome{
  width:5%;
}

.audition_forms_tbl thead th.operation{
  width:2%;
}
.audition_forms_tbl thead th.sub_accounts{
  width:4%;
}
.store_opening_hours_fields{
  width:30% !important;
  display:inline-block !important;
}
.membership_point_title{
  width:55% !important;
}
select[name='shipment[state]']{
  padding:0px !important;
}
.suggested_brands_td{
  width:30%;
  padding:0 20px 0 0;
}
.voters_list{
  display:inline-block !important;
  padding-left:15px
}