<!--<div class="modal-dialog w294px">
  <div class="modal-content">
    <%#= simple_form_for @brand, url: currency_save_brand_path, remote: true, :html => { :class=>"" } do |f| %>
      
      <%# @currencies.each do |c| %>
        <div class="full_width relative-radio-outer">
          <%#= f.radio_button :currency_id, c.id, :class => "radio-hide" %>
          <label class="radio" for="brand_currency_id_<%= c.id %>"><span class="radio-bg"></span><%= c.unit %></label>
        </div>
      <%# end %>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    <%# end %>

  </div>
</div>-->
